<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- remixicon -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/style.css">

    <title>Edit Profile</title>
    <style>
        .breadcrumb-item + .breadcrumb-item::before {
            content: ">";
        }
    </style>
</head>



    <link rel="stylesheet" href="/css/style.css">
    <title>Edit Profile</title>
</head>

<body>
    <!-- sidebar sction -->
    <nav id="sidebar" class="active">
        <div class="p-4">
            <h1><a href="index.html" class="logo"><img src="/img/logo.png" alt=""></a></h1>
            <ul id="sidebar-list" class="components mb-5">
                <li class="list">
                    <a href="/parent/dashboard"><i class="ri-dashboard-line mr-3 sidebar-link"></i>
                        <span class="sidebar-text">Dashboard</span></a>
                </li>
                <li class="list">
                    <a href="/parent/eksplorasi"><i class="ri-global-line mr-3 sidebar-link"></i>
                        <span class="sidebar-text">Eksplorasi</span></a>
                </li class="list">
                <li>
                    <a href="/parent/kegiatan"><i class="ri-calendar-check-line mr-3 sidebar-link"></i>
                        <span class="sidebar-text">Kegiatan</span></a>
                </li>
                <li class="list active">
                    <a href="/parent/profil"><i class="ri-user-line mr-3 sidebar-link"></i>
                        <span class="sidebar-text">Profil</span></a>
                </li>
                <li class="list">
                    <a href="/parent/logout"><i class="ri-logout-box-line mr-3 sidebar-link"></i>
                        <span class="sidebar-text">Logout</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- main section -->
    <div id="dashboard_parent" class="main-content-with-sidebar p-4 p-md-5 pt-5">
        <div class="container">
            <div class="row mb-2 mt-2">
                <ol class="breadcrumb" style="background-color: white;">
                    <li class="breadcrumb-item">Profil</li>
                    <li class="breadcrumb-item active" aria-current="page">Ubah Profil</li>
                </ol>
            </div>


            <div class="row">
                <div class="col-lg-12">
                    <form>
                        <div class="row">
                            <div class="col-sm-6">
                                <input name="id" id="id" type="hidden" value="<%= parent.id %>">
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Nama</label>
                                    <input type="text" class="form-control" id="nama" name="nama" placeholder="Nama Anda" value="<%= parent.nama %>">
                                    <small id="namacheck" style="color: red;" >
                                    </small>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Email</label>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="contoh : namakamu@gmail.com" value="<%= parent.email %>">
                                    <small id="emailvalid" style="color: red;">
                                    </small>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Alamat</label>
                                    <textarea class="form-control" id="alamat" name="alamat" rows="3"><%= parent.alamat %></textarea>
                                    <small id="alamatcheck" style="color: red;">
                                    </small>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="provinsi-list">Provinsi</label>
                                    <select class="form-control" id="provinsi-list" required>
                                      <option selected>--<%= parent.provinsi %>--</option>
                                    </select>
                                  </div>
                                  <input name="provinsi" type="text" id="destination-provinsi" hidden>
                                  <input id="prov_temp" type="hidden" value="<%= parent.provinsi %>">
                      
                                  <div class="form-group">
                                    <label for="kabupaten-list">Kota/Kabupaten</label>
                                    <select class="form-control" id="kabupaten-list" disabled>
                                      <option selected>--<%= parent.kabupaten %>--</option>
                                    </select>
                                  </div>
                                  <input name="kabupaten" type="text" id="destination-kabupaten" hidden>
                                  <input id="kab_temp" type="hidden" value="<%= parent.kabupaten %>">

                                  <div class="form-group">
                                    <label for="kecamatan-list">Kecamatan</label>
                                    <select class="form-control" id="kecamatan-list" disabled>
                                      <option selected>--<%= parent.kecamatan %>--</option>
                                    </select>
                                  </div>
                                  <input name="kecamatan" type="text" id="destination-kecamatan" hidden>
                                  <input id="kec_temp" type="hidden" value="<%= parent.kecamatan %>">
                      
                                  <div class="form-group">
                                    <label for="kelurahan-list">Kelurahan</label>
                                    <select class="form-control" id="kelurahan-list" disabled>
                                      <option selected>--<%= parent.kelurahan %>--</option>
                                    </select>
                                  </div>
                                  <input name="kelurahan" type="text" id="destination-kelurahan" hidden>
                                  <input id="kel_temp" type="hidden" value="<%= parent.kelurahan %>">
                      
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-sm-12 mt-3 d-flex flex-row-reverse">
                                <div class="form-group">
                                    <a href="/parent/dashboard" class="btn btn-danger mb-2">Cancel</a>
                                    <button type="submit" id="save" class="btn mb-2" style="background-color: #40A8C4; color: white;">Save</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>

    <script>
        $(document).ready(function () {
            function validateNama(){
                let namaValue = $('#nama').val();
                if(namaValue == ''){
                    $('#namacheck').html('nama masih kosong');
                    return false   
                }else{
                    $('#namacheck').html('');
                    return true;
                }
            }

            function ValidateRegex(mail){
                let regex = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
                if (regex.test(mail))
                {
                    return (true)
                }
                return (false)
            }
            function validateEmail(){
                let emailValue = $('#email').val();
                if(emailValue == ''){
                    $('#emailvalid').html('email masih kosong');
                    return false;
                }else if(!ValidateRegex(emailValue)){
                    $('#emailvalid').html('email tidak valid');
                    return false;
                }else{
                    $('#emailvalid').html('');
                    return true;
                }
            }

            function validateAlamat(){
                let namaValue = $('#alamat').val();
                if(namaValue == ''){
                    $('#alamatcheck').html('alamat masih kosong');
                    return false   
                }else{
                    $('#alamatcheck').html('');
                    return true;
                }
            }

            $("#save").click( e => { 
                e.preventDefault()
                console.log(document.getElementById("id").value)
                if(document.getElementById("destination-provinsi").value == ""){
                    // console.log("yes");
                    // console.log(document.getElementById("prov_temp").value);
                    document.getElementById("destination-provinsi").value = document.getElementById("prov_temp").value;
                }
                if(document.getElementById("destination-kabupaten").value == ""){
                    // console.log("yes");
                    // console.log(document.getElementById("kab_temp").value);
                    document.getElementById("destination-kabupaten").value = document.getElementById("kab_temp").value;
                }
                if(document.getElementById("destination-kecamatan").value == ""){
                    // console.log("yes");
                    // console.log(document.getElementById("kec_temp").value);
                    document.getElementById("destination-kecamatan").value = document.getElementById("kec_temp").value;
                }
                if(document.getElementById("destination-kelurahan").value == ""){
                    // console.log("yes");
                    // console.log(document.getElementById("kel_temp").value);
                    document.getElementById("destination-kelurahan").value = document.getElementById("kel_temp").value;
                }
                let valid_nama = validateNama();
                let valid_email = validateEmail();
                let valid_alamat = validateAlamat();
                if((valid_nama == true) && (valid_email == true) && (valid_alamat == true)){
                    // return true;
                    $.ajax({  
                        url: '/parent/'+document.getElementById("id").value,  
                        type: 'PUT',
                        data: $('form').serialize(),
                        success: res => { window.location.href = res; }
                    })
                }else{
                    return false;
                }
            });  
        });
    </script>

    <script>
        //select elements
        const provinsiListElement = document.getElementById("provinsi-list")
        const kabupatenListElement = document.getElementById("kabupaten-list")
        const kecamatanListElement = document.getElementById("kecamatan-list")
        const kelurahanListElement = document.getElementById("kelurahan-list")

        function resetSelectElement(selectElement) {
        selectElement.selectedIndex = 0; // first option is selected
        console.log(selectElement)
        for (i = selectElement.options.length - 1; i >= 1; i--) {
            selectElement.remove(i);
        }
        }

        const kelurahan = (kecamatanId) => {
        const index = new XMLHttpRequest();
        index.onload = function () {
            const responseText = this.responseText
            const response = JSON.parse(responseText)


            for (const kelurahan of response.kelurahan) {
            const option = document.createElement("option")
            option.classList.add("kelurahan-option")
            option.setAttribute("value", kelurahan.nama)
            option.setAttribute("name", kelurahan.id)
            option.innerText = kelurahan.nama

            kelurahanListElement.append(option)
            }
            
            kelurahanListElement.addEventListener("change", function () {
            let namaKelurahan = kelurahanListElement.value;
            console.log(namaKelurahan)
            document.getElementById("destination-kelurahan").value = namaKelurahan
            })
            
        }
        index.open("GET",
            `https://dev.farizdotid.com/api/daerahindonesia/kelurahan?id_kecamatan=${kecamatanId}`
        );
        index.send();
        }

        const kecamatan = (kabupatenId) => {
        const index = new XMLHttpRequest();
        index.onload = function () {
            const responseText = this.responseText
            const response = JSON.parse(responseText)

            for (const kecamatan of response.kecamatan) {
            const option = document.createElement("option")
            option.classList.add("kecamatan-option")
            option.setAttribute("value", kecamatan.nama)
            option.setAttribute("name", kecamatan.id)
            option.innerText = kecamatan.nama

            kecamatanListElement.append(option)
            }

            kecamatanListElement.addEventListener("change", function () {
            resetSelectElement(kelurahanListElement)
            let namaKecamatan = kecamatanListElement.value;
            console.log(namaKecamatan)
            document.getElementById("destination-kecamatan").value = namaKecamatan

            for (const kecamatan of response.kecamatan) {
                if (kecamatan.nama === namaKecamatan) {
                kelurahanListElement.removeAttribute("disabled")
                kelurahan(kecamatan.id)
                }
            }
            })

        }
        index.open("GET",
            `https://dev.farizdotid.com/api/daerahindonesia/kecamatan?id_kota=${kabupatenId}`
        );
        index.send();
        }


        const kota_kabupaten = (provinsiId) => {
        const index = new XMLHttpRequest();
        index.onload = function () {
            const responseText = this.responseText
            const response = JSON.parse(responseText)

            for (const kabupaten of response.kota_kabupaten) {
            const option = document.createElement("option")
            option.classList.add("kabupaten-option")
            option.setAttribute("value", kabupaten.nama)
            option.setAttribute("name", kabupaten.id)
            option.innerText = kabupaten.nama

            kabupatenListElement.append(option)
            }

            kabupatenListElement.addEventListener("change", function () {

            resetSelectElement(kecamatanListElement)
            resetSelectElement(kelurahanListElement)


            let namaKabupaten = kabupatenListElement.value;
            console.log(namaKabupaten)
            document.getElementById("destination-kabupaten").value = namaKabupaten

            for (const kabupaten of response.kota_kabupaten) {
                if (kabupaten.nama === namaKabupaten) {
                kecamatanListElement.removeAttribute("disabled")
                kecamatan(kabupaten.id)
                }
            }
            })

        }
        index.open("GET",
            `https://dev.farizdotid.com/api/daerahindonesia/kota?id_provinsi=${provinsiId}`
        );
        index.send();
        }

        const provinsi = () => {
        const index = new XMLHttpRequest();
        index.onload = function () {
            const responseText = this.responseText
            const response = JSON.parse(responseText)


            for (const provinsi of response.provinsi) {
            const optionElement = document.createElement("option")
            optionElement.setAttribute("value", provinsi.nama)
            optionElement.innerText = provinsi.nama

            provinsiListElement.append(optionElement)
            }

            provinsiListElement.addEventListener("change", function () {

            resetSelectElement(kabupatenListElement)
            resetSelectElement(kecamatanListElement)
            resetSelectElement(kelurahanListElement)


            let namaProvonsi = provinsiListElement.value
            console.log(namaProvonsi)
            document.getElementById("destination-provinsi").value = namaProvonsi

            kabupatenListElement.removeAttribute("disabled")
            for (const provinsi of response.provinsi) {
                if (provinsi.nama === namaProvonsi) {
                kabupatenListElement.removeAttribute("disabled")
                kota_kabupaten(provinsi.id)
                }
            }

            })
            
        }
        index.open("GET",
            "https://dev.farizdotid.com/api/daerahindonesia/provinsi"
        );
        index.send();
        }

        provinsi()
    </script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
</body>

</html>
