<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- remixicon -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/style.css">

    <style>
        .teacher-list img {
            margin: 4%;
            width: 92%;
            height: 15em;
            border-radius: 10px;
            object-fit: cover;
        }

        .price{
            font-weight: 600;
            color: #40A8C4;
            font-size: 18px;
        }

        a {
            text-decoration: none !important;
            color: #333333;
        }

        a:hover,
        a:visited {
            color: #333333;
        }
    </style>
    <title>Eksplorasi</title>



    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>

<body>

    <link rel="stylesheet" href="/css/style.css">
    <title>Hello, world!</title>
    </head>

    <body>
        <!-- sidebar sction -->
        <nav id="sidebar" class="active">
            <div class="p-4">
                <h1><a href="index.html" class="logo"><img src="/img/logo.png" alt=""></a></h1>
                <ul id="sidebar-list" class="components mb-5">
                    <li class="list">
                        <a href="/parent/dashboard"><i class="ri-dashboard-line mr-3 sidebar-link"></i>
                            <span class="sidebar-text">Dashboard</span></a>
                    </li>
                    <li class="list active">
                        <a href="/parent/eksplorasi"><i class="ri-global-line mr-3 sidebar-link"></i>
                            <span class="sidebar-text">Eksplorasi</span></a>
                    </li class="list">
                    <li>
                        <a href="/parent/kegiatan"><i class="ri-calendar-check-line mr-3 sidebar-link"></i>
                            <span class="sidebar-text">Kegiatan</span></a>
                    </li>
                    <li class="list">
                        <a href="/parent/profil"><i class="ri-user-line mr-3 sidebar-link"></i>
                            <span class="sidebar-text">Profil</span></a>
                    </li>
                    
                    <br><br><br><br><br><br><br><br>
                    <li class="list">
                        <a href="/parent/logout"><i class="ri-logout-box-line mr-3 sidebar-link"></i>
                            <span class="sidebar-text">Logout</span></a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- main section -->
        <div id="dashboard_parent" class="main-content-with-sidebar p-4 p-md-5 pt-5">
            <div class="container">

                <div class="row row-cols-1 row-cols-md-2">
                    <% for (const teacher of teachers) { %>
                    <div class="col col-lg-4 col-md-6 col-sm-12 mb-1">
                        <a href="/parent/eksplorasi/<%= teacher.id %> ">
                            <div class="card teacher-list">
                                <img src="<%= teacher.avatar %> " class="card-img-top" alt="avatar.png">
                                <div class="card-body">
                                    <h5 class="card-title"><%= teacher.nama %></h5>
                                    <p class="card-text"><%= teacher.mata_pelajaran %></p>
                                    <p class="card-title price"><%= teacher.biaya %> /jam </p>

                                    <p class="text-truncate card-text text-with-icon"><i class="ri-map-pin-range-line mr-3"></i><small
                                            class="text-muted"><%= teacher.kecamatan %>,
                                            <%= teacher.kelurahan %></small></p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <% } %>

                </div>
            </div>
        </div>


        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
        </script>


        <script>
            // function postId(id) {
            //     console.log(id)
            //     event.preventDefault()
            //     $.ajax({
            //         url: `/parent/eksplorasi/${id}`,
            //         type: 'GET',
            //         success: res => {
            //             console.log(res)
            //             window.location.href = `/parent/eksplorasi/${id}`;
            //         }
            //     })
            // }
        </script>
    </body>

</html>