<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

  <!-- remixicon -->
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">

  <style>
    div.dashboard-parent {
      padding: 200px;
    }

    .col-lg-4 .teacher-list img {
      margin: 4% auto;
      width: 60%;
      height: 60%;
      max-height: none;
      min-width: none;
      border-radius: 50% !important;
    }

    h3 {
      font-weight: 600;
    }

    a {
      text-decoration: none !important;
      color: #333333;
    }

    a:hover,
    a:visited {
      color: #333333;
    }

    .btn-batal:hover {
      background-color: #07679f41;
    }
  </style>
  <title>GuruKu - Dashboard</title>


  <!-- jquery -->
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
</head>



<body>
  <!-- sidebar sction -->
  <nav id="sidebar" class="active">
    <div class="p-4">
      <h1><a href="index.html" class="logo"><img src="/img/logo.png" alt=""></a></h1>
      <ul id="sidebar-list" class="components mb-5">
        <li class="list active">
          <a href="/parent/dashboard"><i class="ri-dashboard-line mr-3 sidebar-link"></i>
            <span class="sidebar-text">Dashboard</span></a>
        </li>
        <li>
          <a href="/parent/kegiatan"><i class="ri-calendar-check-line mr-3 sidebar-link"></i>
            <span class="sidebar-text">Kegiatan</span></a>
        </li>
        <li class="list">
          <a href="/parent/profil"><i class="ri-user-line mr-3 sidebar-link"></i>
            <span class="sidebar-text">Profil</span></a>
        </li>
        <br><br><br><br><br><br><br><br>
        <li class="list">
          <a href="/parent/logout"><i class="ri-logout-box-line mr-3 sidebar-link"></i>
            <span class="sidebar-text">Logout</span></a>
        </li>
      </ul>
    </div>
  </nav>


  <!-- main section -->
  <div id="dashboard_parent" class="main-content-with-sidebar p-4 p-md-5 pt-5">
    <div class="container">
      <!-- Daftar Guru yang Disewa -->
      <h3 class="mb-4">Daftar Orang Tua</h3>

      <div id="hired-list" class="row row-cols-1 row-cols-md-2">
        <% for(const order of orders){ %>
        <% if (order.status === "hired") { %>
        <!-- card order dengan status hired -->
        <div class="col col-lg-4 col-md-6 col-sm-12 mb-1">
          <div class="card teacher-list mb-2">
            <img src="<%= order.Parent.avatar %> " class="card-img-top" alt="avatar.png">
            <div class="card-body text-center">
              <h5 class="card-title mb-1"><%= order.Parent.nama %></h5>
              <p class="text-with-icon text-nowrap mb-4" style="padding:0 18% !important;"><i class="ri-map-pin-range-line mr-3"></i><small
                  class="text-muted"><%= order.Parent.kecamatan %>,
                  <%= order.Parent.kelurahan %></small></p>
            
              <a href="<%= order.Parent.no_telfon %> " type="button" class="btn btn-outline-info mb-3" style="width: 216px; height: 36px; background: #E2F2F1;
                                border: 2px solid #40A8C4; color: #40A8C4;">Kontak Orang Tua</a>
            </div>
          </div>
        </div>
        <% } %>
        <% } %>
      </div>

    </div>
  </div>


  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
  </script>
</body>

</html>