<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Welcom to Guruku</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet" />

    <style>
        .vertical-center {
            margin: 0;
            position: absolute;
            top: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }
    </style>
</head>

<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg fixed-top" id="mainNav">
        <div class="container-fluid">
            <img class="nav-logo" src="/img/logo-dark.png" alt="..." />
            <div class="justify-content-end">    
                <button type="button" id="model-btn" class="btn btn-secondary btn-signin  btn-xl" data-toggle="modal"
                    data-target="#services">
                    Masuk
                </button>

                <a class="btn btn-primary  btn-signup" href="/register">Daftar</a>
            </div>

        </div>
    </nav>

    <!-- main content -->
    <div class="landing-page justify-content-start">
        <div class="col-6 vertical-center">
            <div class="masthead-heading">Temukan Guru Terbaik</div>
            <div class="masthead-subheading col-9">Bersama Guruku, temukan guru ideal untuk anak untuk masa depan
                mereka
                nantinya</div>

            <!-- <a class="btn btn-primary btn-xl find-teacher" href="#services">Temukan Guru</a> -->

            <button type="button" id="model-btn" class="btn btn-primary btn-xl find-teacher" data-toggle="modal"
                data-target="#services">
                Temukan Guru
            </button>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="services" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered ">
            <div class="modal-content rounded-3">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <h3 class="modal-title">Masuk</h3>
                <div class="modal-body text-center">
                    <p>
                        <a class="btn btn-login-parent" href="/parent/login">Masuk sebagai orang tua</a>
                        <p></p>
                        <a class="btn btn-login-teacher" href="/teacher/login"> Masuk sebagai guru</a>
                    </p>
                </div>

                <!-- MOdal footer -->
                <div class="footer">
                    <p>
                        Belum memiliki akun?
                        <a href="/register" data-toggle="modal" data-dismiss="modal">
                            Daftar
                        </a>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Bootstrap core JS-->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js">
    </script>
    <script>
        $("#modal-btn").click(function () {
            $("#services").modal();
        });
    </script>
</body>

</html>