<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Welcome to Guruku</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet" />
</head>

<body>
    <div class="login-page justify-content-end">

        <div class="col">

        </div>
        <div class="col">
            <div class="row justify-content-center">
                <img class="logo-login" src="/img/logo-dark.png" alt="..." />
            </div>
            <div class="row justify-content-center">
                <div class="col-5">
                    <div class="card border-0 shadow rounded-3 my-3">
                        <div class="card-body p-5 p-sm-5">
                            <h5 class="card-title text-center mb-4">Masuk sebagai orang tua </h5>
                            <form method="POST" action="/parent/login">
                                <div class="form-group mb-3">
                                    <label for="email" class="label mb-3">Email</label>
                                    <input type="email" class="form-control" name="email" id="email"
                                        aria-describedby="emailHelp" placeholder="masukkan email kamu" required>
                                    <small id="emailvalid" style="color: red;">
                                    </small>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="password" class="label mb-3">Password</label>
                                    <input type="password" class="form-control" name="password" id="password"
                                        placeholder="masukkan password kamu" required>
                                    <small id="passcheck" style="color: red;">
                                    </small>
                                </div>
                                <div class="row">
                                    <small>
                                        <% if (messages.error){ %>
                                        <span style="color: red;"><%= messages.error %></span><br>
                                        <% } %>
                                    </small>
                                </div>

                                <div class="footer">
                                    <button type="submit" id="submitbtn"
                                        class="btn btn-primary btn-xl mb-4 mt-4">Masuk</button>

                                    <p class="mb-0">
                                        Belum memiliki akun?
                                        <a href="/register">
                                            Daftar
                                        </a>
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous">
    </script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    -->

    <script>
        $(document).ready(function () {
            function ValidateRegex(mail) {
                let regex = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
                if (regex.test(mail)) {
                    return (true)
                }
                return (false)
            }

            function validateEmail() {
                let emailValue = $('#email').val();
                if (emailValue == '') {
                    $('#emailvalid').html('email masih kosong');
                    return false;
                } else if (!ValidateRegex(emailValue)) {
                    $('#emailvalid').html('email tidak valid');
                    return false;
                } else {
                    $('#emailvalid').html('');
                    return true;
                }
            }

            function validatePassword() {
                let passValue = $('#password').val();
                if (passValue == '') {
                    $('#passcheck').html('password masih kosong');
                    return false;
                } else {
                    $('#passcheck').html('');
                    return true;
                }
            }

            // Submitt button
            $('#submitbtn').click(function () {
                let valid_email = validateEmail();
                let valid_pass = validatePassword();
                if ((valid_email == true) && (valid_pass == true)) {
                    return true;
                } else {
                    return false;
                }
            });

        });
    </script>

</body>

</html>